html, body {
    max-width: 1366px;
    margin: auto;
    font-family: 'Arial';
    background-color: #e3f5ff;
}

/* .inner {
    position: absolute;
} */
  
#game-container {
    height: 700px;
    width: 700px;
    margin-left: 333px;
    margin-right: 333px;
    margin-top: 20px;
    position: absolute;
}

.side-container {
    height: 700px;
    width: 333px;
    margin-top: 20px;
}

.box {
    height: 70px;
    width: 70px;
    color: #a8d0e6;
}

/* #ladder1to38 {
    margin: 475px 0 0 75px;
    height: 210px;
    width: 70px;
    transform: rotate(33deg);
}

#ladder4to14 {
    margin: 560px 0 0 325px;
    height: 180px;
    width: 50px;
    transform: rotate(77deg);
}

#ladder9to31 {
    margin: 495px 0 0 605px;
    height: 170px;
    width: 50px;
    transform: rotate(10deg);
}

#ladder21to42 {
    margin: 495px 0 0 605px;
    height: 170px;
    width: 50px;
    transform: rotate(10deg);
} */

#player1 {
    height: 30px;
    width: 30px;
    background-color: #f8e9a1;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

#player2 {
    height: 30px;
    width: 30px;
    background-color: #f76c6c;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 5px;
}

button {
    background-color: #f8e9a1;
    width: 140px;
    height: 140px;
    border: none;
    color: #374785;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 420px 0 0 91px;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.message {
    margin: 210px 0 0 80px;
    font-size: 20px;
    color: #374785;
    position: absolute;
}