html, body {
    width: 1366px;
    margin: auto;
    background-color: #e3f5ff;
    font-family: 'Boogaloo', cursive;
}

/* .inner {
    position: absolute;
} */
  
#game-container {
    height: 700px;
    width: 700px;
    margin-left: 333px;
    margin-right: 333px;
    margin-top: 20px;
    position: absolute;
}

.side-container {
    height: 700px;
    width: 333px;
    margin-top: 20px;
}

.box {
    height: 70px;
    width: 70px;
    color: #a8d0e6;
}

.box p {
    position: absolute;
    font-size: 20px;
    margin: 10px 0 0 10px;
}

#box0 {
    margin: 140px 0 0 263px;
}

#player1 {
    height: 30px;
    width: 30px;
    background-color: #f8e9a1;
    border-radius: 50%;
    margin: 5px 0 0 35px;  
    position: absolute;
    z-index: 2;
}

#player2 {
    height: 30px;
    width: 30px;
    background-color: #f76c6c;
    border-radius: 50%;
    margin: 35px 0 0 5px;
    position: absolute;
    z-index: 2;
}

#dice-image {
    width: 140px;
    height: 140px;
    margin: 350px 0 0 91px;
}
button {
    background-color: #f8e9a1;
    width: 140px;
    height: 140px;
    border: none;
    color: #374785;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 0 0 0 91px;
    cursor: pointer;
    font-family: 'Boogaloo', cursive;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.message {
    margin: 210px 0 0 80px;
    font-size: 30px;
    color: #374785;
    position: absolute;
}